.main_content{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 15px;
}

.count_span{
    position: absolute;
    width: 10px;
    padding-top: 28px;
    left: 10px;
    color: rgba(255, 0, 92, 0.98);
}
.first-span{
    border-radius: 5px;
    display: block;
    padding: 10px 35px;
    color: rgba(255, 0, 92, 0.98);
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.wrapper{
    max-width: 560px;
}
.buttons{
    float: right;
    max-width: 125px;
    margin-top: -70px;
}
.buttons div{
    display: inline-block;
}
.clear{
    clear:both;
}